@charset "UTF-8";

html {
  margin:0!important;
  padding:0!important;
  background-color: black;


}

 /*animation: blinkIt 2s infinite;
 animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
 make stuff pendelum

 animation: blinkIt 1.5s infinite;
*/
#info {
  width:40%;
  font-size: 3em;
  margin: 0 auto;
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  font-style: normal;


}


.flashlight, #flashlight {
  cursor: auto;
  z-index: 1001;
  width: 100%;
  height: 100%;
  padding: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background: radial-gradient(250px 250px, circle contain, rgba(250,250,210, .3), rgb(0, 0, 0)) center center;
  background: -webkit-radial-gradient(250px 250px, circle contain, rgba(252, 100, 0, .6), rgb(0, 0, 0)) center center;
  background: -moz-radial-gradient(250px 250px, circle contain, rgba(182, 34, 3, .8), rgb(0, 0, 0)) center center;
  background: -ms-radial-gradient(250px 250px,circle contain, rgba(128, 17, 0, .8), rgb(0, 0, 0)) center center;

}


@keyframes light {
  0%   {opacity: 1; transform: translate(0px) scale(1)}
  100% {opacity: .6; transform: translateY(-10px)}
}

@keyframes breath {
  0%   {transform: translate(0px) scale(1)}
  100% {transform: translateY(-10px)}
}

p {
  font-size: 1.8vh;
  color:white;

}

#container {
  display:block;
  position: relative;
  margin: 0 auto!important;
}




body {
  margin: 0;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  animation: blinkIt 1.5s infinite;

}


h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  color:white;
  font-size: 1rem;
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  font-style: normal;



}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }

}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }

  }

}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
  }

}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }

  @media (min-width: 2000px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
    }



  .container {
    display:block;
    position: relative;
    margin: 0 auto!important;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid #dee2e6 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-end {
  border-right: 1px solid #dee2e6 !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid #dee2e6 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-start {
  border-left: 1px solid #dee2e6 !important;
}

.border-start-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #ffc800 !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #198754 !important;
}

.border-info {
  border-color: #0dcaf0 !important;
}

.border-warning {
  border-color: #ffc800 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #212529 !important;
}

.border-white {
  border-color: #fff !important;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.mw-100 {
  max-width: 100% !important;
}

.vw-100 {
  width: 100vw !important;
}

.min-vw-100 {
  min-width: 100vw !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

.mh-100 {
  max-height: 100% !important;
}

.vh-100 {
  height: 100vh !important;
}

.min-vh-100 {
  min-height: 100vh !important;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  flex-direction: column-reverse !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  flex-shrink: 1 !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}

.gap-0 {
  gap: 0 !important;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

.align-content-start {
  align-content: flex-start !important;
}

.align-content-end {
  align-content: flex-end !important;
}

.align-content-center {
  align-content: center !important;
}

.align-content-between {
  align-content: space-between !important;
}

.align-content-around {
  align-content: space-around !important;
}

.align-content-stretch {
  align-content: stretch !important;
}

.align-self-auto {
  align-self: auto !important;
}

.align-self-start {
  align-self: flex-start !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.align-self-center {
  align-self: center !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-stretch {
  align-self: stretch !important;
}

.user-select-all {
  -webkit-user-select: all !important;
     -moz-user-select: all !important;
          user-select: all !important;
}

.user-select-auto {
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important;
}

.user-select-none {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

@media (min-width: 576px) {
  .float-sm-start {
    float: left !important;
  }

  .float-sm-end {
    float: right !important;
  }

  .float-sm-none {
    float: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-grid {
    display: grid !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }

  .d-sm-none {
    display: none !important;
  }

  .flex-sm-fill {
    flex: 1 1 auto !important;
  }

  .flex-sm-row {
    flex-direction: row !important;
  }

  .flex-sm-column {
    flex-direction: column !important;
  }

  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-sm-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-sm-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-sm-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-sm-shrink-1 {
    flex-shrink: 1 !important;
  }

  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }

  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .gap-sm-0 {
    gap: 0 !important;
  }

  .gap-sm-1 {
    gap: 0.25rem !important;
  }

  .gap-sm-2 {
    gap: 0.5rem !important;
  }

  .gap-sm-3 {
    gap: 1rem !important;
  }

  .gap-sm-4 {
    gap: 1.5rem !important;
  }

  .gap-sm-5 {
    gap: 3rem !important;
  }

  .justify-content-sm-start {
    justify-content: flex-start !important;
  }

  .justify-content-sm-end {
    justify-content: flex-end !important;
  }

  .justify-content-sm-center {
    justify-content: center !important;
  }

  .justify-content-sm-between {
    justify-content: space-between !important;
  }

  .justify-content-sm-around {
    justify-content: space-around !important;
  }

  .justify-content-sm-evenly {
    justify-content: space-evenly !important;
  }

  .align-items-sm-start {
    align-items: flex-start !important;
  }

  .align-items-sm-end {
    align-items: flex-end !important;
  }

  .align-items-sm-center {
    align-items: center !important;
  }

  .align-items-sm-baseline {
    align-items: baseline !important;
  }

  .align-items-sm-stretch {
    align-items: stretch !important;
  }

  .align-content-sm-start {
    align-content: flex-start !important;
  }

  .align-content-sm-end {
    align-content: flex-end !important;
  }

  .align-content-sm-center {
    align-content: center !important;
  }

  .align-content-sm-between {
    align-content: space-between !important;
  }

  .align-content-sm-around {
    align-content: space-around !important;
  }

  .align-content-sm-stretch {
    align-content: stretch !important;
  }

  .align-self-sm-auto {
    align-self: auto !important;
  }

  .align-self-sm-start {
    align-self: flex-start !important;
  }

  .align-self-sm-end {
    align-self: flex-end !important;
  }

  .align-self-sm-center {
    align-self: center !important;
  }

  .align-self-sm-baseline {
    align-self: baseline !important;
  }

  .align-self-sm-stretch {
    align-self: stretch !important;
  }

  .order-sm-first {
    order: -1 !important;
  }

  .order-sm-0 {
    order: 0 !important;
  }

  .order-sm-1 {
    order: 1 !important;
  }

  .order-sm-2 {
    order: 2 !important;
  }

  .order-sm-3 {
    order: 3 !important;
  }

  .order-sm-4 {
    order: 4 !important;
  }

  .order-sm-5 {
    order: 5 !important;
  }

  .order-sm-last {
    order: 6 !important;
  }

  .m-sm-0 {
    margin: 0 !important;
  }

  .m-sm-1 {
    margin: 0.25rem !important;
  }

  .m-sm-2 {
    margin: 0.5rem !important;
  }

  .m-sm-3 {
    margin: 1rem !important;
  }

  .m-sm-4 {
    margin: 1.5rem !important;
  }

  .m-sm-5 {
    margin: 3rem !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .mx-sm-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .mx-sm-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }

  .mx-sm-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .mx-sm-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }

  .mx-sm-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }

  .mx-sm-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }

  .mx-sm-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .my-sm-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }

  .my-sm-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .my-sm-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .my-sm-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  .my-sm-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }

  .my-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }

  .mt-sm-0 {
    margin-top: 0 !important;
  }

  .mt-sm-1 {
    margin-top: 0.25rem !important;
  }

  .mt-sm-2 {
    margin-top: 0.5rem !important;
  }

  .mt-sm-3 {
    margin-top: 1rem !important;
  }

  .mt-sm-4 {
    margin-top: 1.5rem !important;
  }

  .mt-sm-5 {
    margin-top: 3rem !important;
  }

  .mt-sm-auto {
    margin-top: auto !important;
  }

  .me-sm-0 {
    margin-right: 0 !important;
  }

  .me-sm-1 {
    margin-right: 0.25rem !important;
  }

  .me-sm-2 {
    margin-right: 0.5rem !important;
  }

  .me-sm-3 {
    margin-right: 1rem !important;
  }

  .me-sm-4 {
    margin-right: 1.5rem !important;
  }

  .me-sm-5 {
    margin-right: 3rem !important;
  }

  .me-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-0 {
    margin-bottom: 0 !important;
  }

  .mb-sm-1 {
    margin-bottom: 0.25rem !important;
  }

  .mb-sm-2 {
    margin-bottom: 0.5rem !important;
  }

  .mb-sm-3 {
    margin-bottom: 1rem !important;
  }

  .mb-sm-4 {
    margin-bottom: 1.5rem !important;
  }

  .mb-sm-5 {
    margin-bottom: 3rem !important;
  }

  .mb-sm-auto {
    margin-bottom: auto !important;
  }

  .ms-sm-0 {
    margin-left: 0 !important;
  }

  .ms-sm-1 {
    margin-left: 0.25rem !important;
  }

  .ms-sm-2 {
    margin-left: 0.5rem !important;
  }

  .ms-sm-3 {
    margin-left: 1rem !important;
  }

  .ms-sm-4 {
    margin-left: 1.5rem !important;
  }

  .ms-sm-5 {
    margin-left: 3rem !important;
  }

  .ms-sm-auto {
    margin-left: auto !important;
  }

  .p-sm-0 {
    padding: 0 !important;
  }

  .p-sm-1 {
    padding: 0.25rem !important;
  }

  .p-sm-2 {
    padding: 0.5rem !important;
  }

  .p-sm-3 {
    padding: 1rem !important;
  }

  .p-sm-4 {
    padding: 1.5rem !important;
  }

  .p-sm-5 {
    padding: 3rem !important;
  }

  .px-sm-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .px-sm-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }

  .px-sm-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }

  .px-sm-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .px-sm-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .px-sm-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }

  .py-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .py-sm-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }

  .py-sm-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

  .py-sm-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .py-sm-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .py-sm-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .pt-sm-0 {
    padding-top: 0 !important;
  }

  .pt-sm-1 {
    padding-top: 0.25rem !important;
  }

  .pt-sm-2 {
    padding-top: 0.5rem !important;
  }

  .pt-sm-3 {
    padding-top: 1rem !important;
  }

  .pt-sm-4 {
    padding-top: 1.5rem !important;
  }

  .pt-sm-5 {
    padding-top: 3rem !important;
  }

  .pe-sm-0 {
    padding-right: 0 !important;
  }

  .pe-sm-1 {
    padding-right: 0.25rem !important;
  }

  .pe-sm-2 {
    padding-right: 0.5rem !important;
  }

  .pe-sm-3 {
    padding-right: 1rem !important;
  }

  .pe-sm-4 {
    padding-right: 1.5rem !important;
  }

  .pe-sm-5 {
    padding-right: 3rem !important;
  }

  .pb-sm-0 {
    padding-bottom: 0 !important;
  }

  .pb-sm-1 {
    padding-bottom: 0.25rem !important;
  }

  .pb-sm-2 {
    padding-bottom: 0.5rem !important;
  }

  .pb-sm-3 {
    padding-bottom: 1rem !important;
  }

  .pb-sm-4 {
    padding-bottom: 1.5rem !important;
  }

  .pb-sm-5 {
    padding-bottom: 3rem !important;
  }

  .ps-sm-0 {
    padding-left: 0 !important;
  }

  .ps-sm-1 {
    padding-left: 0.25rem !important;
  }

  .ps-sm-2 {
    padding-left: 0.5rem !important;
  }

  .ps-sm-3 {
    padding-left: 1rem !important;
  }

  .ps-sm-4 {
    padding-left: 1.5rem !important;
  }

  .ps-sm-5 {
    padding-left: 3rem !important;
  }

  .text-sm-start {
    text-align: left !important;
  }

  .text-sm-end {
    text-align: right !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .float-md-start {
    float: left !important;
  }

  .float-md-end {
    float: right !important;
  }

  .float-md-none {
    float: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-grid {
    display: grid !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }

  .d-md-none {
    display: none !important;
  }

  .flex-md-fill {
    flex: 1 1 auto !important;
  }

  .flex-md-row {
    flex-direction: row !important;
  }

  .flex-md-column {
    flex-direction: column !important;
  }

  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-md-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-md-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }

  .flex-md-wrap {
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .gap-md-0 {
    gap: 0 !important;
  }

  .gap-md-1 {
    gap: 0.25rem !important;
  }

  .gap-md-2 {
    gap: 0.5rem !important;
  }

  .gap-md-3 {
    gap: 1rem !important;
  }

  .gap-md-4 {
    gap: 1.5rem !important;
  }

  .gap-md-5 {
    gap: 3rem !important;
  }

  .justify-content-md-start {
    justify-content: flex-start !important;
  }

  .justify-content-md-end {
    justify-content: flex-end !important;
  }

  .justify-content-md-center {
    justify-content: center !important;
  }

  .justify-content-md-between {
    justify-content: space-between !important;
  }

  .justify-content-md-around {
    justify-content: space-around !important;
  }

  .justify-content-md-evenly {
    justify-content: space-evenly !important;
  }

  .align-items-md-start {
    align-items: flex-start !important;
  }

  .align-items-md-end {
    align-items: flex-end !important;
  }

  .align-items-md-center {
    align-items: center !important;
  }

  .align-items-md-baseline {
    align-items: baseline !important;
  }

  .align-items-md-stretch {
    align-items: stretch !important;
  }

  .align-content-md-start {
    align-content: flex-start !important;
  }

  .align-content-md-end {
    align-content: flex-end !important;
  }

  .align-content-md-center {
    align-content: center !important;
  }

  .align-content-md-between {
    align-content: space-between !important;
  }

  .align-content-md-around {
    align-content: space-around !important;
  }

  .align-content-md-stretch {
    align-content: stretch !important;
  }

  .align-self-md-auto {
    align-self: auto !important;
  }

  .align-self-md-start {
    align-self: flex-start !important;
  }

  .align-self-md-end {
    align-self: flex-end !important;
  }

  .align-self-md-center {
    align-self: center !important;
  }

  .align-self-md-baseline {
    align-self: baseline !important;
  }

  .align-self-md-stretch {
    align-self: stretch !important;
  }

  .text-md-start {
    text-align: left !important;
  }

  .text-md-end {
    text-align: right !important;
  }

  .text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .float-lg-start {
    float: left !important;
  }

  .float-lg-end {
    float: right !important;
  }

  .float-lg-none {
    float: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-grid {
    display: grid !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }

  .d-lg-none {
    display: none !important;
  }

  .flex-lg-fill {
    flex: 1 1 auto !important;
  }

  .flex-lg-row {
    flex-direction: row !important;
  }

  .flex-lg-column {
    flex-direction: column !important;
  }

  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }

  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }

  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .gap-lg-0 {
    gap: 0 !important;
  }

  .gap-lg-1 {
    gap: 0.25rem !important;
  }

  .gap-lg-2 {
    gap: 0.5rem !important;
  }

  .gap-lg-3 {
    gap: 1rem !important;
  }

  .gap-lg-4 {
    gap: 1.5rem !important;
  }

  .gap-lg-5 {
    gap: 3rem !important;
  }

  .justify-content-lg-start {
    justify-content: flex-start !important;
  }

  .justify-content-lg-end {
    justify-content: flex-end !important;
  }

  .justify-content-lg-center {
    justify-content: center !important;
  }

  .justify-content-lg-between {
    justify-content: space-between !important;
  }

  .justify-content-lg-around {
    justify-content: space-around !important;
  }

  .justify-content-lg-evenly {
    justify-content: space-evenly !important;
  }

  .align-items-lg-start {
    align-items: flex-start !important;
  }

  .align-items-lg-end {
    align-items: flex-end !important;
  }

  .align-items-lg-center {
    align-items: center !important;
  }

  .align-items-lg-baseline {
    align-items: baseline !important;
  }

  .align-items-lg-stretch {
    align-items: stretch !important;
  }

  .align-content-lg-start {
    align-content: flex-start !important;
  }

  .align-content-lg-end {
    align-content: flex-end !important;
  }

  .align-content-lg-center {
    align-content: center !important;
  }

  .align-content-lg-between {
    align-content: space-between !important;
  }

  .align-content-lg-around {
    align-content: space-around !important;
  }

  .align-content-lg-stretch {
    align-content: stretch !important;
  }

  .align-self-lg-auto {
    align-self: auto !important;
  }

  .align-self-lg-start {
    align-self: flex-start !important;
  }

  .align-self-lg-end {
    align-self: flex-end !important;
  }

  .align-self-lg-center {
    align-self: center !important;
  }

  .align-self-lg-baseline {
    align-self: baseline !important;
  }

  .align-self-lg-stretch {
    align-self: stretch !important;
  }

  .order-lg-first {
    order: -1 !important;
  }


  .text-lg-start {
    text-align: left !important;
  }

  .text-lg-end {
    text-align: right !important;
  }

  .text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .float-xl-start {
    float: left !important;
  }

  .float-xl-end {
    float: right !important;
  }

  .float-xl-none {
    float: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-grid {
    display: grid !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }

  .d-xl-none {
    display: none !important;
  }

  .flex-xl-fill {
    flex: 1 1 auto !important;
  }

  .flex-xl-row {
    flex-direction: row !important;
  }

  .flex-xl-column {
    flex-direction: column !important;
  }

  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xl-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-xl-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-xl-shrink-1 {
    flex-shrink: 1 !important;
  }

  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }

  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .gap-xl-0 {
    gap: 0 !important;
  }

  .gap-xl-1 {
    gap: 0.25rem !important;
  }

  .gap-xl-2 {
    gap: 0.5rem !important;
  }

  .gap-xl-3 {
    gap: 1rem !important;
  }

  .gap-xl-4 {
    gap: 1.5rem !important;
  }

  .gap-xl-5 {
    gap: 3rem !important;
  }

  .justify-content-xl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xl-center {
    justify-content: center !important;
  }

  .justify-content-xl-between {
    justify-content: space-between !important;
  }

  .justify-content-xl-around {
    justify-content: space-around !important;
  }

  .justify-content-xl-evenly {
    justify-content: space-evenly !important;
  }

  .align-items-xl-start {
    align-items: flex-start !important;
  }

  .align-items-xl-end {
    align-items: flex-end !important;
  }

  .align-items-xl-center {
    align-items: center !important;
  }

  .align-items-xl-baseline {
    align-items: baseline !important;
  }

  .align-items-xl-stretch {
    align-items: stretch !important;
  }

  .align-content-xl-start {
    align-content: flex-start !important;
  }

  .align-content-xl-end {
    align-content: flex-end !important;
  }

  .align-content-xl-center {
    align-content: center !important;
  }

  .align-content-xl-between {
    align-content: space-between !important;
  }

  .align-content-xl-around {
    align-content: space-around !important;
  }

  .align-content-xl-stretch {
    align-content: stretch !important;
  }

  .align-self-xl-auto {
    align-self: auto !important;
  }

  .align-self-xl-start {
    align-self: flex-start !important;
  }

  .align-self-xl-end {
    align-self: flex-end !important;
  }

  .align-self-xl-center {
    align-self: center !important;
  }

  .align-self-xl-baseline {
    align-self: baseline !important;
  }

  .align-self-xl-stretch {
    align-self: stretch !important;
  }


  .text-xl-start {
    text-align: left !important;
  }

  .text-xl-end {
    text-align: right !important;
  }

  .text-xl-center {
    text-align: center !important;
  }
}
@media (min-width: 1400px) {
  .float-xxl-start {
    float: left !important;
  }

  .float-xxl-end {
    float: right !important;
  }

  .float-xxl-none {
    float: none !important;
  }

  .d-xxl-inline {
    display: inline !important;
  }

  .d-xxl-inline-block {
    display: inline-block !important;
  }

  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-grid {
    display: grid !important;
  }

  .d-xxl-table {
    display: table !important;
  }

  .d-xxl-table-row {
    display: table-row !important;
  }

  .d-xxl-table-cell {
    display: table-cell !important;
  }

  .d-xxl-flex {
    display: flex !important;
  }

  .d-xxl-inline-flex {
    display: inline-flex !important;
  }

  .d-xxl-none {
    display: none !important;
  }

  .flex-xxl-fill {
    flex: 1 1 auto !important;
  }

  .flex-xxl-row {
    flex-direction: row !important;
  }

  .flex-xxl-column {
    flex-direction: column !important;
  }

  .flex-xxl-row-reverse {
    flex-direction: row-reverse !important;
  }

  .flex-xxl-column-reverse {
    flex-direction: column-reverse !important;
  }

  .flex-xxl-grow-0 {
    flex-grow: 0 !important;
  }

  .flex-xxl-grow-1 {
    flex-grow: 1 !important;
  }

  .flex-xxl-shrink-0 {
    flex-shrink: 0 !important;
  }

  .flex-xxl-shrink-1 {
    flex-shrink: 1 !important;
  }

  .flex-xxl-wrap {
    flex-wrap: wrap !important;
  }

  .flex-xxl-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-xxl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  .gap-xxl-0 {
    gap: 0 !important;
  }

  .gap-xxl-1 {
    gap: 0.25rem !important;
  }

  .gap-xxl-2 {
    gap: 0.5rem !important;
  }

  .gap-xxl-3 {
    gap: 1rem !important;
  }

  .gap-xxl-4 {
    gap: 1.5rem !important;
  }

  .gap-xxl-5 {
    gap: 3rem !important;
  }

  .justify-content-xxl-start {
    justify-content: flex-start !important;
  }

  .justify-content-xxl-end {
    justify-content: flex-end !important;
  }

  .justify-content-xxl-center {
    justify-content: center !important;
  }

  .justify-content-xxl-between {
    justify-content: space-between !important;
  }

  .justify-content-xxl-around {
    justify-content: space-around !important;
  }

  .justify-content-xxl-evenly {
    justify-content: space-evenly !important;
  }

  .align-items-xxl-start {
    align-items: flex-start !important;
  }

  .align-items-xxl-end {
    align-items: flex-end !important;
  }

  .align-items-xxl-center {
    align-items: center !important;
  }

  .align-items-xxl-baseline {
    align-items: baseline !important;
  }

  .align-items-xxl-stretch {
    align-items: stretch !important;
  }

  .align-content-xxl-start {
    align-content: flex-start !important;
  }

  .align-content-xxl-end {
    align-content: flex-end !important;
  }

  .align-content-xxl-center {
    align-content: center !important;
  }

  .align-content-xxl-between {
    align-content: space-between !important;
  }

  .align-content-xxl-around {
    align-content: space-around !important;
  }

  .align-content-xxl-stretch {
    align-content: stretch !important;
  }

  .align-self-xxl-auto {
    align-self: auto !important;
  }

  .align-self-xxl-start {
    align-self: flex-start !important;
  }

  .align-self-xxl-end {
    align-self: flex-end !important;
  }

  .align-self-xxl-center {
    align-self: center !important;
  }

  .align-self-xxl-baseline {
    align-self: baseline !important;
  }

  .align-self-xxl-stretch {
    align-self: stretch !important;
  }


  .text-xxl-start {
    text-align: left !important;
  }

  .text-xxl-end {
    text-align: right !important;
  }

  .text-xxl-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .fs-1 {
    font-size: 2.5rem !important;
  }

  .fs-2 {
    font-size: 2rem !important;
  }

  .fs-3 {
    font-size: 1.75rem !important;
  }

  .fs-4 {
    font-size: 1.5rem !important;
  }
}
@media print {
  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-grid {
    display: grid !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }

  .d-print-none {
    display: none !important;
  }
}
html {
  scroll-padding-top: 4.5rem;
}

body {
  position: relative;
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}




}
header.masthead {
  padding-top: 9rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
}
header.masthead .masthead-subheading {
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 25px;
  font-family: "trajan-pro-3", serif;
  font-weight: 600;
  font-style: normal;




}

header.masthead .masthead-heading {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "trajan-pro-3", serif;
  font-weight: 600;
  font-style: normal;





}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 6rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    font-family: "trajan-pro-3", serif;
    font-weight: 600;
    font-style: normal;


  }

}


header.masthead1 .masthead-heading1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "filicudi-solid"!important;
  font-weight: 700;
  font-style: normal;




}

@media (min-width: 768px) {
  header.masthead1 {
    padding-bottom: 12.5rem;
  }
  header.masthead1 .masthead-subheading1 {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead1 .masthead-heading1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
    font-family: "filicudi-solid"!important;
    font-weight: 700;
    font-style: normal;


  }

}
/* ---- reset ---- */


canvas {
  display: block;
  vertical-align: bottom;
}




#italic {
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
}

ul {
  list-style:none;
}

.form {
  font-family: "trajan-pro-3", serif;
  font-weight: 200;
  color:white;
  font-style: normal;

}
.form1 {
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  color:white;
  font-style: normal;

}
.form2 {
  font-family: "trajan-pro-3", serif;
  font-weight: 400;
  color:white;
}

.form3 {
  font-family: "trajan-pro-3", serif;
  font-weight: 600;
  color:white;
  font-style: normal;
}
.form4 {
  font-family: "trajan-pro-3", serif;
  font-weight: 700;
  color:white;
  font-style: normal;

}
.form5 {
  font-family: "trajan-pro-3", serif;
  font-weight: 900;
  color:white;

}

.para {
  display: block;
  font-size: 4em;
  margin: 0 auto;
  text-align: left;
}

.text1 {
  font-weight: 100;
  font-family: "trajan-pro-3", serif;
  font-size: 2em;
  color: white;
}

.dud{
    color: #757575;
}


#boo {
  margin: 0 auto!important;
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  color:white;
  margin-left: 2%;

}

.letters {
  font-size: 15em;
  float:left;
  color:white;
  width: 100%;
  max-width: 2500px;
  font-family: "trajan-pro-3", serif;
  font-weight: 700;
  font-style: normal;
}









.center {
  width: 1170px;
  margin: 20px auto 0;
}

.holder {
  margin: 0 auto;
  width: 200px;
  height: 400px;
  position: relative;
}

.holder *, .holder *:before, .holder *:after {
  position: absolute;
  content: "";
}

.candle {
  bottom: 0;
  width: 150px;
  height: 200px;
  border-radius: 150px / 40px;
  box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4), inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
  background: #190f02;
  background: -moz-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -webkit-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -o-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: -ms-linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
  background: linear-gradient(#e48825, #e78e0e, #833c03, #4c1a03 50%, #1c0900);
}

.candle:before {
  width: 100%;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d47401;
  background: #b86409;
  background: -moz-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -webkit-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -o-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: -ms-radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
  background: radial-gradient(#ffef80, #b86409 60%);
  background: radial-gradient(#eaa121, #8e4901 45%, #b86409 80%);
}

.candle:after {
  width: 34px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 14px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: -ms-radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
  background: radial-gradient(rgba(0, 0, 0, 0.6), transparent 45%);
}

.thread {
  width: 6px;
  height: 36px;
  top: -17px;
  left: 50%;
  z-index: 1;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
  background: -moz-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -webkit-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -o-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: -ms-linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
  background: linear-gradient(#d6994a, #4b232c, #121212, black, #e8bb31 90%);
}

#flame {
  visibility: hidden;
  width: 24px;
  height: 120px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

#flame:before {
  visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, .4), 0 -6px 4px 0 rgba(247, 128, 0, .7);
}

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
}

@keyframes enlargeFlame {
  0%, 100% {
    height: 120px;
  }
  50% {
    height: 140px;
  }
}

#glow {
  visibility: hidden;
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, .7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, .6), inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

#glow:before {
  visibility: hidden;
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}

.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
  40% { opacity: .5;}
  80% {opacity: .8;}
  90% {opacity: .6;}

}



h1 {
  font-size: 2.5rem;
}

/*Text on screen*/

.wrapper {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.typing-demo {
  width: 39ch;
  animation: typing 2s steps(22), blink 1s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


#rules {
  font-size: 2em;
    animation: head 10s forwards;
    margin-top: 25%!important;
    width:60%;
    margin: 0 auto;
    font-family: "trajan-pro-3", serif;
    font-weight: 300;
    font-style: normal;


}

.pass {
    animation: fade 22s forwards;
    margin-top: 7%!important;
    width:60%;
    margin: 0 auto;
    font-family: "trajan-pro-3", serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none!important;
    color:white!important;

}

.pass2 {
    animation: fade 22s forwards;
    margin-top: 7%!important;
    margin: 0 auto;
    font-family: "trajan-pro-3", serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none!important;
    color:white!important;

}

a {
  background-color: transparent;
}



  #fadebutton {
    animation: fade 15s forwards;

}
@keyframes fade {
    from {opacity: 0;}
    to  {opacity: 1;}

}


@keyframes head {
    from {opacity: 0;}
    to  {opacity: 1;}

}
.buttonClass {
  font-size: 1.5em;
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  font-style: normal;
  width:10%;
  height:8%;
  border-width:2px;
  color:rgba(223, 223, 222, 1);
  border-color:rgba(116, 4, 18, 1);
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  text-shadow: 0px 1px 0px #ffffff;
  background:linear-gradient(rgba(144, 10, 26, 1), rgba(95, 15, 8, 1));
}

.buttonClass:hover {
  background: linear-gradient(rgba(95, 15, 8, 1), rgba(144, 10, 26, 1));
}

#rules2 {
  font-size: 2em;
    margin-top: 9%!important;
    width:60%;
    margin: 0 auto;
    font-family: "trajan-pro-3", serif;
    font-weight: 300;
    font-style: normal;

}
#first {
    animation: head 10s forwards;

}

#play {
  animation: fade 25s forwards;

}

#subtitle {

  font-size: 5em;
  color: #ffd700;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;

}



.container1 {
	 transform: translate(-50%, -50%);
   position: absolute;
   display: inline;
   margin:0 auto;
}
 .glitch, .glow {
	 color: #dfbfbf;
	 position: relative;
	 font-size: 9vw;
	 animation: glitch 5s 5s infinite;
}
 .glitch::before, .glow::before {
	 content: attr(data-text);
	 position: absolute;
	 left: -2px;
	 text-shadow: -5px 0 gray;
	 background: black;
	 overflow: hidden;
	 top: 0;
	 animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}
 .glitch::after, .glow::after {
	 content: attr(data-text);
	 position: absolute;
	 left: 2px;
	 text-shadow: -2px 0 #f70d1a;
	 background: black;
	 overflow: hidden;
	 top: 0;
	 animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}
 @keyframes glitch {
	 1% {
		 transform: rotateX(10deg) skewX(90deg);
	}
	 2% {
		 transform: rotateX(0deg) skewX(0deg);
	}
}
 @keyframes noise-1 {
	 3.3333333333% {
		 clip-path: inset(21px 0 72px 0);
	}
	 6.6666666667% {
		 clip-path: inset(54px 0 12px 0);
	}
	 10% {
		 clip-path: inset(2px 0 88px 0);
	}
	 13.3333333333% {
		 clip-path: inset(49px 0 44px 0);
	}
	 16.6666666667% {
		 clip-path: inset(10px 0 66px 0);
	}
	 20% {
		 clip-path: inset(97px 0 2px 0);
	}
	 23.3333333333% {
		 clip-path: inset(63px 0 3px 0);
	}
	 26.6666666667% {
		 clip-path: inset(99px 0 2px 0);
	}
	 30% {
		 clip-path: inset(50px 0 20px 0);
	}
	 33.3333333333% {
		 clip-path: inset(48px 0 24px 0);
	}
	 36.6666666667% {
		 clip-path: inset(75px 0 20px 0);
	}
	 40% {
		 clip-path: inset(48px 0 17px 0);
	}
	 43.3333333333% {
		 clip-path: inset(67px 0 6px 0);
	}
	 46.6666666667% {
		 clip-path: inset(6px 0 43px 0);
	}
	 50% {
		 clip-path: inset(4px 0 21px 0);
	}
	 53.3333333333% {
		 clip-path: inset(35px 0 45px 0);
	}
	 56.6666666667% {
		 clip-path: inset(45px 0 42px 0);
	}
	 60% {
		 clip-path: inset(56px 0 43px 0);
	}
	 63.3333333333% {
		 clip-path: inset(7px 0 75px 0);
	}
	 66.6666666667% {
		 clip-path: inset(85px 0 16px 0);
	}
	 70% {
		 clip-path: inset(24px 0 64px 0);
	}
	 73.3333333333% {
		 clip-path: inset(8px 0 50px 0);
	}
	 76.6666666667% {
		 clip-path: inset(6px 0 55px 0);
	}
	 80% {
		 clip-path: inset(3px 0 6px 0);
	}
	 83.3333333333% {
		 clip-path: inset(3px 0 16px 0);
	}
	 86.6666666667% {
		 clip-path: inset(40px 0 29px 0);
	}
	 90% {
		 clip-path: inset(37px 0 30px 0);
	}
	 93.3333333333% {
		 clip-path: inset(67px 0 29px 0);
	}
	 96.6666666667% {
		 clip-path: inset(17px 0 13px 0);
	}
	 100% {
		 clip-path: inset(15px 0 33px 0);
	}
}
 @keyframes noise-2 {
	 0% {
		 clip-path: inset(87px 0 12px 0);
	}
	 3.3333333333% {
		 clip-path: inset(26px 0 60px 0);
	}
	 6.6666666667% {
		 clip-path: inset(10px 0 17px 0);
	}
	 10% {
		 clip-path: inset(77px 0 1px 0);
	}
	 13.3333333333% {
		 clip-path: inset(48px 0 33px 0);
	}
	 16.6666666667% {
		 clip-path: inset(27px 0 60px 0);
	}
	 20% {
		 clip-path: inset(91px 0 7px 0);
	}
	 23.3333333333% {
		 clip-path: inset(56px 0 37px 0);
	}
	 26.6666666667% {
		 clip-path: inset(35px 0 34px 0);
	}
	 30% {
		 clip-path: inset(61px 0 34px 0);
	}
	 33.3333333333% {
		 clip-path: inset(86px 0 9px 0);
	}
	 36.6666666667% {
		 clip-path: inset(89px 0 7px 0);
	}
	 40% {
		 clip-path: inset(23px 0 18px 0);
	}
	 43.3333333333% {
		 clip-path: inset(70px 0 19px 0);
	}
	 46.6666666667% {
		 clip-path: inset(12px 0 81px 0);
	}
	 50% {
		 clip-path: inset(83px 0 7px 0);
	}
	 53.3333333333% {
		 clip-path: inset(60px 0 31px 0);
	}
	 56.6666666667% {
		 clip-path: inset(91px 0 2px 0);
	}
	 60% {
		 clip-path: inset(47px 0 51px 0);
	}
	 63.3333333333% {
		 clip-path: inset(64px 0 6px 0);
	}
	 66.6666666667% {
		 clip-path: inset(71px 0 21px 0);
	}
	 70% {
		 clip-path: inset(50px 0 1px 0);
	}
	 73.3333333333% {
		 clip-path: inset(37px 0 37px 0);
	}
	 76.6666666667% {
		 clip-path: inset(25px 0 7px 0);
	}
	 80% {
		 clip-path: inset(40px 0 38px 0);
	}
	 83.3333333333% {
		 clip-path: inset(85px 0 10px 0);
	}
	 86.6666666667% {
		 clip-path: inset(1px 0 100px 0);
	}
	 90% {
		 clip-path: inset(5px 0 27px 0);
	}
	 93.3333333333% {
		 clip-path: inset(84px 0 15px 0);
	}
	 96.6666666667% {
		 clip-path: inset(9px 0 92px 0);
	}
	 100% {
		 clip-path: inset(3px 0 43px 0);
	}
}
 .scanlines {
	 overflow: hidden;
	 mix-blend-mode: difference;
}
 .scanlines::before {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 background: repeating-linear-gradient(to bottom, transparent 0%, rgba(255, 255, 255, 0.05) 0.5%, transparent 1%);
	 animation: fudge 7s ease-in-out alternate infinite;
}
 @keyframes fudge {
	 from {
		 transform: translate(0px, 0px);
	}
	 to {
		 transform: translate(0px, 2%);
	}
}
 .glow {
	 text-shadow: 0 0 1000px #dfbfbf;
	 color: transparent;
	 position: absolute;
	 top: 0;
}

 @keyframes glitch-2 {
	 1% {
		 transform: rotateX(10deg) skewX(70deg);
	}
	 2% {
		 transform: rotateX(0deg) skewX(0deg);
	}
}

.sleep {
  margin-top: 13%!important;
  width:40%;
  margin: 0 auto;
  font-size: 1.5em;
  font-family: "trajan-pro-3", serif;
  font-weight: 600;


}

#con {
  padding: 10%;
  float:left;
}

#title {
  margin-left: 20%;
  font-size: 1.6em;
}

#title2 {
  margin-top: -20%;
  margin-left: 20%;
  font-size: 1.6em;
  width:60%;
  text-align: center;
}
.row {
margin: 0 auto!important;
display: flex;
justify-content: center;


}
.col-md-4 {
  padding:7%;
  display: inline;
  text-align: center;

}
.title {
	font-size: 80px;
  font-family: "trajan-pro-3", serif;
  font-weight: 400;
	color: white;
	text-align: center;
}
.text-reveal{
	font-size: 80px;
  font-family: "trajan-pro-3", serif;
  font-weight: 200;
	color: white;
	margin: 50vh;
  margin-top: 80%;
}
.score {
	font-size: 50px;
  font-family: "trajan-pro-3", serif;
  font-weight: 200;
  color: white;
	text-align: center;
	margin: 30px;

}
img {
  width:100%!important;
}
.cards {
	text-align: center;
}
.bottom {
  margin: 0 auto;
  margin-top:25%;
  margin-top: 3%!important;

}
.btn {
  margin-left: 45%;
  background: transparent;
	color: white;
	font-size: 30px;
  font-family: "trajan-pro-3", serif;
  font-weight: 200;

}
#hidden {
  content: " ";
  z-index: 10;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

div.hangman {
    margin: auto;
    width: 86vw;
    max-width: 1920px;
    height: 48vw;
    max-height: 1080px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 1vmin;
    position: relative;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
    font-size: 2vw;
    overflow: hidden;
    font-family: "trajan-pro-3", serif;
    font-weight: 200;
    font-style: normal;

}


div#hangman {
    visibility: hidden;
    margin: auto;
    width: 86vw;
    max-width: 1920px;
    height: 48vw;
    max-height: 1080px;
    background-repeat: no-repeat;
    background: url(../img/static.gif);
    background-size: contain;
    border-radius: 1vmin;
    position: relative;
    box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
    font-size: 2vw;
    overflow: hidden;
    font-family: "trajan-pro-3", serif;
    font-weight: 200;
    font-style: normal;

}

div.hangman-panels {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

div.hangman-center {
    flex-shrink: 1;
    flex-grow: 2;
    position: relative;
}
div.hangman-red {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f00;
    background: linear-gradient(90deg, #f00, #f00, #f00, #f00, #f00, #f00, #f00, rgba(255, 0, 0, 0));
    opacity: 0.2;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 500ms, opacity 500ms;
    transition-timing-function: ease-in-out;
}

div.hangman-panel {
    background-color: rgba(139, 0, 0, 0.3);
    border-radius: 1vmin;
    padding: 0.2em;
    width: 100%;
}

div.hangman-header {
    flex-shrink: 2;
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 2vw;
}

div.hangman-title {
    flex-shrink: 1;
    letter-spacing: 0.4em;
    color: rgb(225, 255, 255);
    width: 100%;
}

div.hangman-init-game {
    flex-shrink: 2;
    white-space: nowrap;
}

div.hangman-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    font-family: "trajan-pro-3", serif;
    font-weight: 200;
    font-style: normal;
    white-space: nowrap;
    text-shadow: 1vw 1vw 1vw #16262E;
    letter-spacing: 0.3em;
    display: flex;
    opacity: 0.7;
    color:white;
}

div.hangman-hint, div.hangman-comment {
    position: absolute;
    font-size: 1.5vw;
    white-space: normal;
}

div.hangman-comment {
    left: 31%;
    width: 50%;
    top: 67%;
    color: hsl(0, 0%, 80%);
    text-shadow: 0.2vw 0.2vw 0.3vw hsl(0, 0%, 20%);
}

div.hangman-hint-1 {
    left: 10%;
    width: 80%;
    top: 18%;
    color: hsl(0, 0%, 75%);
    text-shadow: 0.2vw 0.2vw 0.3vw #000;
}

div.hangman-hint-2 {
    left: 40%;
    width: 50%;
    top: 85%;
    color: hsl(0, 0%, 50%);
    text-shadow: 0.2vw 0.2vw 0.3vw hsl(0, 0%, 20%);
}

div.hangman-keyboard {
    flex-shrink: 2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-family: "trajan-pro-3", serif!important;
    font-weight: 200;
    font-style: normal;

}

div.buttons {
    display: flex;
    flex-wrap: wrap;
}

div.button {
    border-radius: 0.2em;
    background-color: hsla(192, 39%, 39%, 0.4);
    cursor: pointer;
    color: hsl(192, 39%, 50%);
    flex-grow: 1;
    text-align: center;
    opacity: 1;
    transition: opacity 300ms, background-color 300ms, color 300ms;
}

div.button, div.hangman-title {
    margin: 0.05em;
    padding: 0.05em 0.4em;
}

div.button:hover {
    background-color: hsla(192, 39%, 79%, 0.4);
    color: hsl(192, 39%, 70%);
    opacity: 1;
    transition: opacity 300ms, background-color 300ms, color 300ms;
}

div.key {
  font-family: "trajan-pro-3", serif!important;
  font-weight: 200;
  font-style: normal;

}

div.button.disabled {
    opacity: 0.2;
    transition: opacity 500ms;
}

@keyframes swing330 {
    15% {
        transform: translate(1px, 0px);
    }
    30% {
        transform: translate(-1px, -1px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    65% {
        transform: translate(-1px, 0px);
    }
    80% {
        transform: translate(1px, -1px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes swing331 {
    15% {
        transform: translate(1px, 0px);
    }
    30% {
        transform: translate(-1px, 0px);
    }
    50% {
        transform: translate(1px, 1px);
    }
    65% {
        transform: translate(1px, -1px);
    }
    80% {
        transform: translate(-1px, -1px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes swing660 {
    15% {
        transform: translate(2px, 0px);
    }
    30% {
        transform: translate(-3px, -1px);
    }
    50% {
        transform: translate(3px, 2px);
    }
    65% {
        transform: translate(-3px, 0px);
    }
    80% {
        transform: translate(2px, -1px);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes swing661 {
    15% {
        transform: translate(-3px, -1px);
    }
    30% {
        transform: translate(2px, 0px);
    }
    50% {
        transform: translate(-3px, 0px);
    }
    65% {
        transform: translate(3px, 2px);
    }
    80% {
        transform: translate(2px, -1px);
    }
    100% {
        transform: translate(0);
    }
}



#jump {

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%!important;
  width: 100%!important;
  margin-bottom: -10%;
  visibility: hidden;

}

#container2 {
  margin-top: 20%;
  margin-bottom: 30%;
}

.text {
  font-family: "trajan-pro-3", serif;
  font-weight: 200;
  font-style: normal;
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
  justify-content: center;
  align-items: center;
  display: flex!important;
  margin: 0 auto!important;
  animation: glitch 5s 5s infinite;


}

.dud {
  color: #757575;
}


.foggy-text {
 text-align:center;
  font-size: 6em;
  transition: text-shadow 2s;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
}
.foggy-text:hover {
  text-shadow: 0 0 1px rgba(255,255,255,.6);
}
.foggy-text1 {
 text-align:center;
  transition: text-shadow 2s;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
}
.foggy-text1:hover {
  text-shadow: 0 0 1px rgba(255,255,255,.6);
}
#foggy {
  transition: text-shadow 2s;
  text-shadow: 0px 0px 10px rgba(255,255,255,0.6), 0px 0px 30px rgba(255,255,255,0.4), 0px 0px 50px rgba(255,255,255,0.3), 0px 0px 180px rgba(255,255,255,0.3);
  color: rgba(255,255,255,0);
}
#foggy:hover {
  text-shadow: 0 0 1px rgba(255,255,255,.6);
}
.animation-container {
  top: 25vh;
  left: 0;
  right: 0;
  bottom: 25vh;
  z-index: 1;
  background: #111111;
}

.animation-container span {
  position: absolute;
  color: whitesmoke;
  font-size: 18px;
  text-shadow: 0 0 1px white;
  user-select: none;
  pointer-events: none;
  cursor: default;
  z-index: 1;
  font-family: "trajan-pro-3", serif;
  font-weight: 300;
  font-style: normal;
  opacity: 0;
  top: 0;
  will-change: transform, opacity;
  animation-timing-function: ease-out;
  animation-name: move;
  height:100%;
}

@keyframes move {
  0% {
    opacity: 0;
    top: 100%;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: none;
  }
}
